.turning {
  animation: turn 0.75s ease-in 1 normal;
  animation-fill-mode: forwards;
}

.card {
  justify-self: center;
  width: 13vw;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 54, 63);
  color: white;
  border-radius: 1rem;
  border: 2px solid white;
  opacity: 0.9;
  visibility: hidden;
  padding-top: 1rem;
}

.img-container {
  border-radius: 0.75rem;
  border: 2px solid white;
  width: 80%;
  height: 70%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.card:active {
  opacity: 0.9;
}

.card p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

@keyframes turn {
  from {
    transform: scale(0);
  }
  to {
    visibility: visible;
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .card {
    min-width: 150px;
    height: 30vh;
    padding-top: 0.25rem;
  }
  .card p {
    font-size: 1.5rem;
  }
  .img-container {
    height: 60%;
  }
}

@media (max-width: 700px) {
  .card {
    min-width: 120px;
    height: 20vh;
    padding-top: 0.25rem;
  }
  .card p {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
}

@media (max-height: 700px) {
  .card p {
    margin-bottom: 0;
  }
}
