.loss {
  opacity: 0.9;
  /* justify-self: stretch; */
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
}

.loss img {
  max-height: 350px;
  flex: 1;
  left: 1rem;
  justify-self: center;
  align-self: center;
  padding: 0;
  margin-bottom: 1rem;
  z-index: -1;
}

.loss h1 {
  margin: 1rem;
}

.loss button {
  margin: 0.25rem;
  font-size: 1.75rem;
  padding: 0.5rem;
  font-weight: 900;
}

@media (max-width: 1200px) {
  .loss {
    grid-column: span 3;
  }
}

@media (max-width: 400px) {
  .loss {
    padding: 1rem;
    margin: 1rem;
  }

  .loss h1 {
    font-size: 3rem;
  }
}
