.start-jake {
  position: absolute;
  width: 10rem;
  top: 0;
  left: 0;
  transform: rotate(30deg);
  z-index: -1;
}

.start-finn {
  position: absolute;
  width: 5rem;
  bottom: 1rem;
  right: 1rem;
  transform: rotateY(180deg);
  z-index: -1;
}
